@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "form.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #bebaba;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: rgb(35, 22, 28);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
	list-style: none;
}

.requests--title {
	text-decoration: underline;
}

#container {
	margin: 1rem 1rem 1rem 1rem;
}

h1 {
	font-size: 1.6rem;
}
